@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
* {
    font-family: 'Mandali', sans-serif;
}

.navbar {
    /* background-color:#fff3de; */
    background-color: #f5e0e0;
    font-family: 'Mandali', sans-serif;
    font-size: 2.5rem;
    padding: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-title {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    /* font-weight: 900; */
}

.navbar-logo {
    width: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    font-size: 1rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 4px;
    padding: 0.2em 1em;
}

.search-button {
    height: 100%;
    font-size: 1.3rem;
    padding: 0 0.3em;
    background-color: #deaeb1;
    color: white;
    border: none;
    border-radius: 4px;
}